
@{
    ViewBag.Title = "SC200DanhSachKhoaPhong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-all-ql" data-ng-controller="SC200DanhMucKhoaPhongCtrl" ng-cloak>
    <h2>Danh Sách Khoa Phòng</h2><br />
    @*<label>{{DSKhoaPhong.Ten}}</label>*@
</div>
