USE [master]
GO
/****** Object:  Database [QLCongViec]    Script Date: 11/7/2021 1:54:44 PM ******/
CREATE DATABASE [QLCongViec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCongViec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\QLCongViec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCongViec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\QLCongViec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCongViec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCongViec]
GO
/****** Object:  UserDefinedDataType [dbo].[DT_UNIQUE_IDENTIFIER]    Script Date: 11/7/2021 1:54:44 PM ******/
CREATE TYPE [dbo].[DT_UNIQUE_IDENTIFIER] FROM [uniqueidentifier] NULL
GO
/****** Object:  Table [dbo].[CanBo]    Script Date: 11/7/2021 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanBo](
	[Id] [dbo].[DT_UNIQUE_IDENTIFIER] NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[HoVaTen] [nvarchar](250) NOT NULL,
	[IdKhoa] [dbo].[DT_UNIQUE_IDENTIFIER] NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CanBo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaPhong]    Script Date: 11/7/2021 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaPhong](
	[Id] [dbo].[DT_UNIQUE_IDENTIFIER] NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](250) NOT NULL,
	[GhiChu] [nvarchar](1000) NULL,
 CONSTRAINT [PK_KhoaPhong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDeNghi]    Script Date: 11/7/2021 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDeNghi](
	[Id] [dbo].[DT_UNIQUE_IDENTIFIER] NOT NULL,
	[IdKhoa] [dbo].[DT_UNIQUE_IDENTIFIER] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [dbo].[DT_UNIQUE_IDENTIFIER] NOT NULL,
	[NoiDung] [ntext] NULL,
	[IdCanBoDeNghi] [dbo].[DT_UNIQUE_IDENTIFIER] NOT NULL,
	[IdCanBoThucHien] [dbo].[DT_UNIQUE_IDENTIFIER] NULL,
 CONSTRAINT [PK_PhieuDeNghi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CanBo]  WITH CHECK ADD  CONSTRAINT [FK_CanBo_KhoaPhong] FOREIGN KEY([IdKhoa])
REFERENCES [dbo].[KhoaPhong] ([Id])
GO
ALTER TABLE [dbo].[CanBo] CHECK CONSTRAINT [FK_CanBo_KhoaPhong]
GO
ALTER TABLE [dbo].[PhieuDeNghi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDeNghi_CanBo] FOREIGN KEY([IdCanBoDeNghi])
REFERENCES [dbo].[CanBo] ([Id])
GO
ALTER TABLE [dbo].[PhieuDeNghi] CHECK CONSTRAINT [FK_PhieuDeNghi_CanBo]
GO
ALTER TABLE [dbo].[PhieuDeNghi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDeNghi_CanBo1] FOREIGN KEY([IdCanBoThucHien])
REFERENCES [dbo].[CanBo] ([Id])
GO
ALTER TABLE [dbo].[PhieuDeNghi] CHECK CONSTRAINT [FK_PhieuDeNghi_CanBo1]
GO
ALTER TABLE [dbo].[PhieuDeNghi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDeNghi_KhoaPhong] FOREIGN KEY([IdKhoa])
REFERENCES [dbo].[KhoaPhong] ([Id])
GO
ALTER TABLE [dbo].[PhieuDeNghi] CHECK CONSTRAINT [FK_PhieuDeNghi_KhoaPhong]
GO
USE [master]
GO
