
@{
    ViewBag.Title = "SC200DanhMucKhoaPhong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Danh Sách Khoa Phòng</h4>

<div class="row content-all-ql" data-ng-controller="SC200DanhMucKhoaPhongCtrl" ng-cloak>
    <div class="row col-lg-12" style="margin-top:15px">
        <div style="width: 70%; height: 500px">
            <div class="row col-lg-4" style="margin-top:15px">
                <input type="text" class="form-control"  placeholder="nhập tên" ng-model="KhoaPhong.Ten">
                <button type="submit"style="float:right" class="btn btn-default" ng-click="TimkiemKhoaPhong()">Tìm Kiếm</button>
            </div>
            <div class="clearfix"></div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Ngày Tạo</th>
                        <th class="text-center">Mã</th>
                        <th class="text-center">Tên Khoa Phòng</th>
                        <th class="text-center">Ghi Chú</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="khoaphong in DSKhoaPhong">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">{{NgayTao | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{khoaphong.Ma}}</td>
                        <td class="text-center">{{khoaphong.Ten}}</td>
                        <td class="text-center">{{khoaphong.GhiChu}}</td>
                        <td class="text-right">
                            <a href="/DanhMuc/SC200a_AddDanhMucKhoaPhong" title="Thêm mới">
                                <i class="fa fa-user-plus"></i>
                            </a>&nbsp;&nbsp;
                            <a href="/PhieuDeNghi/SC100_PhieuDeNghi?idPhieu={{phieu.Id}}" title="Sửa">
                                <i class="fas fa-pencil-alt"></i>
                            </a>&nbsp;&nbsp;
                            <a ng-click="DeleteKhoaPhong(khoaphong.Id)"><i class="fa fa-trash" title="Xóa"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" ng-visible="{{iTotalPage>1}}">
                <div class="col-sm-12" style="float: right">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination" id="lstPage"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
