
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-all-ql" data-ng-controller="SC400CongViecTheoCtrl" ng-cloak>
    <div class="row col-sm-12">
        <div class="col-lg-4">
            <div class="input-group m-b">
                <span class="input-group-addon" style="background-color: #23c6c8; ">Thời gian: </span>
                <input type="text" id="search_start_date" placeholder="__/__/____" name="search_start_date" class="form-control search_date_VN"
                       ng-model="TuNgay" model-view-value="true" ui-mask="99/99/9999">
                <span class="input-group-addon">&divide;</span>
                <input type="text" id="search_end_date" placeholder="__/__/____" name="search_end_date" class="form-control search_date_VN"
                       ng-model="DenNgay" model-view-value="true" ui-mask="99/99/9999">
            </div>
        </div>
        <div class="col-sm-2">
            <input class="btn btn-primary" type="button" style="float: right; margin-bottom: 5px; margin-right: 20px" value="Tìm kiếm" ng-click="refreshData(1)" />
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-2">
            <input ng-if="!IsKhoa" class="btn btn-primary" type="button" style="" value="Thêm" ng-click="ShowAddOrUpdateCongViec()" />
        </div>
    </div>
    <div class="row col-lg-12" style="margin-top:15px">
        <div style="width: 100%; height: 500px">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên công việc</th>
                        <th class="text-center">Cán bộ</th>
                        <th class="text-center">Số tiền</th>
                        <th class="text-center">Ngày tạo</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="phieu in DSCongViec">
                        <td class="text-center">{{$index+1+ iPageSize*(iPageIndex-1)}}</td>
                        <td>{{phieu.TenCongViec}}</td>
                        <td>{{phieu.TenCanBo}}</td>
                        <td>{{phieu.SoTien|number}}</td>
                        <td class="text-center">{{phieu.NgayTao | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-right">
                            <a ng-if="IsKhoa" ng-click="InPhieuVatTu(phieu.GiaoDichVatTu)" title="In vật tư">
                                <i class="fas fa-print">In vật tư&nbsp;&nbsp;</i>
                            </a>
                            <a ng-if="!IsKhoa" ng-click="showPopupVatTu(phieu)" title="Thêm phiếu vật tư">
                                <i class="fas fa-plus">Phiếu vật tư &nbsp;&nbsp;</i>
                            </a>
                            <a ng-if="!IsKhoa" ng-click="ShowPopupPhieuVT(phieu)" title="Chi tiết phiếu VT">
                                <i class="fas fa-info-circle">Danh sách phiếu VT&nbsp;&nbsp;</i>
                            </a>
                            <a ng-if="!IsKhoa" href="/NghiemThu/SC301_NghiemThuCongViec?idCongViec={{phieu.Id}}" title="Biên bản">
                                <i class="fas fa-plus">Thêm biên bản&nbsp;&nbsp;</i>
                            </a>
                            <a ng-if="!IsKhoa" ng-click="ShowPopupBienBan(phieu)" title="Biên bản">
                                <i class="fas fa-info-circle">Danh sách biên bản&nbsp;&nbsp;</i>
                            </a>
                            <a ng-if="!IsKhoa" ng-click="ShowAddOrUpdateCongViec(phieu)" title="Sửa">
                                <i class="fas fa-pencil-alt">Sửa&nbsp;&nbsp;</i>
                            </a>
                            <a ng-if="!IsKhoa" ng-click="DeleteCongViec(phieu.Id)"><i class="fa fa-trash" title="Xóa">Xóa</i> </a>
                            <a ng-if="IsKhoa && phieu.lstBienBan.length > 0" ng-click="PrintBienBan(phieu.lstBienBan[0])" title="Biên bản">
                                <i class="fas fa-print">In&nbsp;&nbsp;</i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="DSCongViec.length == 0">
                        <td class="text-center" colspan="5">Không có dữ liệu</td>
                    </tr>
                </tbody>
            </table>
            <div class="row" ng-visible="{{iTotalPage>1}}">
                <div class="col-sm-12" style="float: right">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination" id="lstPage"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" style="display: none;width:800px" id="popupCongViec" data-key-trap>
        <h4>
            Thêm mới
            <a class="action close popup_close col-lg-2 b-close" my-click-once data-ng-click="closePopup()" title="Đóng của sổ">
                (Đóng)
            </a>
        </h4>
        <div class="popup_content" style="">
            <div class="row" style="margin-left:0px; margin-right:0px;">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        Tên công việc
                    </div>
                    <div class="col-lg-9">
                        <input id="txtTenCongViec" type="text" class="form-control" ng-model="CongViec.TenCongViec" />
                    </div>
                </div>
                <div class="col-lg-12" style="padding-top:3px">
                    <div class="col-lg-3">
                        Số tiền
                    </div>
                    <div class="col-lg-4">
                        <input id="txtSoTien" type="text" class="form-control" ng-model="CongViec.SoTien" numbers-only />
                    </div>
                    <div class="col-lg-4" style="padding-top:10px">
                        {{CongViec.SoTien| number}}
                    </div>
                </div>
                <div class="col-lg-12" style="padding-top:3px">
                    <div class="col-lg-3">
                        Mô tả công việc
                    </div>
                    <div class="col-lg-9">
                        <textarea id="txtMoTaCongViec" class="form-control" ng-model="CongViec.MoTaCongViec" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-12" style="padding-top:3px">
                    <div class="col-lg-3">
                        Danh sách khoa
                    </div>
                    <div class="col-lg-9" style="overflow: scroll;height:120px">
                        <div class="col-lg-4" ng-repeat="khoa in DSKhoaPhong">
                            <input type="checkbox" ng-model="khoa.IsCheck" /> <label>{{khoa.Ten}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-bottom:20px;text-align:right">
            <button class="btn btn-primary" ng-disabled="isDisabled" ng-click="saveCongViec()">Lưu</button>
            <button class="btn" ng-click="closePopup()">Đóng</button>
        </div>
    </div>
    <div class="popup" style="display: none;width:800px" id="popupBienban" data-key-trap>
        <h4>
            Chi tiết biên bản công việc {{CongViec.TenCongViec}}
            <a class="action close popup_close col-lg-2 b-close" my-click-once data-ng-click="closePopupBienBan()" title="Đóng của sổ">
                (Đóng)
            </a>
        </h4>
        <div class="popup_content" style="">
            <div class="row" style="margin-left:0px; margin-right:0px;">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Ngày bắt đầu</th>
                            <th class="text-center">Ngày kết thúc</th>
                            <th class="text-center">Danh sách khoa</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="bb in CongViec.lstBienBan">
                            <td class="text-center">{{$index+1+ iPageSize*(iPageIndex-1)}}</td>
                            <td class="text-center">{{bb.NgayBatDau | date: 'HH:mm dd/MM/yyyy'}}</td>
                            <td class="text-center">{{bb.NgayKetThuc | date: 'HH:mm dd/MM/yyyy'}}</td>
                            <td>{{bb.sDanhSachKhoa}}</td>
                            <td class="text-right">
                                <a ng-click="PrintBienBan(bb)" title="Biên bản">
                                    <i class="fas fa-print">In</i>
                                </a>&nbsp;&nbsp;
                                <a href="/NghiemThu/SC301_NghiemThuCongViec?idBienBan={{bb.Id}}" title="Sửa">
                                    <i class="fas fa-pencil-alt">Sửa</i>
                                </a>&nbsp;&nbsp;
                                <a ng-click="DeleteBienBan(bb.Id,$index)"><i class="fa fa-trash" title="Xóa">Xóa</i> </a>
                            </td>
                        </tr>
                        <tr ng-if="CongViec.lstBienBan.length == 0">
                            <td class="text-center" colspan="5">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12" style="margin-bottom:20px;text-align:right">
            <button class="btn" ng-click="closePopupBienBan()">Đóng</button>
        </div>
    </div>
    @*----------------------------------------------------------------------------------*@
    <div class="popup" style="display: none;width:800px" id="popupVatTu">
        <h4>
            Phiếu vật tư
            <a class="action close popup_close col-lg-2 b-close" my-click-once data-ng-click="closePopupVatTu()" title="Đóng của sổ">
                (Đóng)
            </a>
        </h4>
        <div class="popup_content" style="">
            <div class="row" style="margin-left:0px; margin-right:0px;">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        Vật tư
                    </div>
                    <div class="col-lg-6">
                        <ui-select data-ng-model="$parent.sanpham" ng-disabled="disabled" reset-search-input="false">
                            <ui-select-match placeholder="Chọn sản phẩm... ">{{$select.selected.Ma}} - {{$select.selected.TenSanPham}}</ui-select-match>
                            <ui-select-choices repeat="tk in DSTonKho" refresh="refreshTonKho($select.search)" refresh-delay="0" value="{{$select.selected.Id}}">
                                <div ng-bind-html="tk.Ma + ' - ' + tk.TenSanPham | highlight:$select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3" ng-if="sanpham.Ma != ''">
                        <i>Tồn : <b>{{sanpham.SoLuong}} {{sanpham.TenDonVi}}</b></i>
                    </div>
                </div>
                <div class="col-lg-12" style="padding-top:3px">
                    <label class="col-lg-3">Số lượng</label>
                    <div class="col-lg-6">
                        <input type="text" id="txtSoLuong" ng-model="SanPham.SoLuong" class="form-control" numbers-only />
                    </div>
                </div>
                <div class="col-lg-12" style="padding-top:3px">
                    <label class="col-lg-3">Ghi chú</label>
                    <div class="col-lg-6">
                        <input type="text" id="txtGhiChu" ng-model="SanPham.GhiChu" class="form-control" />
                    </div>
                </div>
                <div class="row col-lg-12">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-6 text-right">
                        <input class="btn btn-primary" type="button" style="" value="Thêm" ng-click="AddSanPham()" />
                    </div>
                </div>
                <div class="col-lg-12" style="padding-top:3px">
                    <div class="col-lg-3">
                        Danh sách khoa
                    </div>
                    <div class="col-lg-9" style="overflow: scroll;height:120px; border:1px solid #808080">
                        <div class="col-lg-4" ng-repeat="khoa in DSKhoaPhong">
                            <input type="checkbox" ng-model="khoa.IsCheck" /> <label>{{khoa.Ten}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:0px; margin-right:0px;margin-top:5px">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Mã</th>
                            <th class="text-center">Tên</th>
                            <th class="text-center">Đơn vị tính</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Ghi chú</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="vt in GiaoDich.ChiTiet">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="">{{vt.MaSanPham}}</td>
                            <td class="">{{vt.TenSanPham}}</td>
                            <td class="text-center">{{vt.TenDonVi}}</td>
                            <td class="text-right">
                                {{vt.SoLuong}}
                            </td>
                            <td>
                                {{vt.GhiChu}}
                            </td>
                            <td class="text-center">
                                <a ng-click="DeleteSanPham($index)"><i class="fa fa-trash" title="Xóa">Xóa</i> </a>
                            </td>
                        </tr>
                        <tr ng-if="GiaoDich.ChiTiet.length == 0">
                            <td class="text-center" colspan="7">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12" style="margin-bottom:20px;text-align:right">
            <input class="btn btn-primary" ng-disabled="isDisabled" type="button" style="" value="Tạo phiếu vật tư" ng-click="TaoPhieuVatTu()" />
            <button class="btn" ng-click="closePopupVatTu()">Đóng</button>
        </div>
    </div>
@*----------------------------------------------------------------------------------*@
    <div class="popup" style="display: none;width:800px" id="popupDanhSachPhieuVT" data-key-trap>
        <h4>
            Danh sách phiếu vật tư 
            <a class="action close popup_close col-lg-2 b-close" my-click-once data-ng-click="closePopupDanhSachPhieuVT()" title="Đóng của sổ">
                (Đóng)
            </a>
        </h4>
        <div class="popup_content" style="">
            <div class="row" style="margin-left:0px; margin-right:0px;">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Tên khoa</th>
                            <th class="text-center">Ngày tạo</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="phieu in DSPhieuVT">
                            <td class="text-center">{{$index+1+ iPageSizeVT*(iPageIndexVT-1)}}</td>
                            <td>{{phieu.TenKhoa}}</td>
                            <td class="text-center">{{phieu.NgayTao | date: 'HH:mm dd/MM/yyyy'}}</td>
                            <td class="text-right">
                                <a ng-click="InPhieuVatTu(phieu)" title="In">
                                    <i class="fas fa-print">In</i>
                                </a>&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr ng-if="DSPhieuVT.length == 0">
                            <td class="text-center" colspan="4">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-lg-12" ng-visible="{{iTotalPageVT>1}}">
                    <div class="col-sm-12" style="float: right">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination" id="lstPageVT"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-bottom:20px;text-align:right">
            <button class="btn" ng-click="closePopupDanhSachPhieuVT()">Đóng</button>
        </div>
    </div>
</div>





